<mat-toolbar>
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
    <mat-icon>menu</mat-icon>
  </button>
  <span>WP24</span>
  <span class="example-spacer"></span>
  <div class="header-icons">
    <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon"
            style="background:url('/assets/img/1217136_whatsapp_icon.svg')">
      <!--    <mat-icon>favorite</mat-icon>-->
    </button>
  </div>
  <div class="header-icons">
    <button mat-icon-button class="example-icon" class="image" aria-label="Example icon-button with share icon"
            style="background:url('/assets/img/icon_new-white.svg')">
      <!--    <mat-icon>share</mat-icon>-->
    </button>
  </div>

  <div class="auto-width">
    <mat-form-field appearance="legacy">
      <mat-select name="language" [(ngModel)]='language' (ngModelChange)="onSelect($event)">
        <mat-option value="en-US"><span class="flag-icon flag-icon-gb"></span> EN</mat-option>
        <mat-option value="uk-UA"><span class="flag-icon flag-icon-ua"></span> UA</mat-option>
      </mat-select>
    </mat-form-field>
  </div>
</mat-toolbar>
<div class="content">
  <router-outlet></router-outlet>
  <notifier-container></notifier-container>
</div>

<!--<app-home name="{{ name }}"></app-home>-->
<!--<hr>-->
<!--<label>{{'banner.change_lang_label' | translate}}:</label>-->
<!--<br><br>-->
<!--<select name="language" [(ngModel)]='language' (ngModelChange)="onSelect($event)">-->
<!--  <option value="en-US">English</option>-->
<!--  <option value="uk-UA">Ukraine</option>-->
<!--</select>-->

<!--<router-outlet></router-outlet>-->
<!--<notifier-container></notifier-container>-->
