.example-spacer {
  flex: 1 1 auto;
  text-align: center;
  padding-left: 30px;
}

.content {
  padding: 0px;
  height: 100%;
}

//.mat-select {
//  max-height: 10px;
//}

button {
  &.image {
    background-color: transparent;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
  }
}

.header-icons {
  margin-right: 8px;
}

.mat-link {
  //cursor: pointer;
  text-decoration: underline;
}

.mat-select-hide-underline .mat-form-field-underline {
  display: none;
}

.mat-button-toggle-group {
  height: 25px;
  align-items: center;
}

